{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block head %}<script type="text/javascript" src="/static/script.js"></script>{% endblock %}


{% block main %}

    <div class="container my-5">
        <header class="pb-1">Democracy is, and was always a <span style="color: crimson;">lie</span></header>
        <p><h1>Decentralized Election Watch.</h1><br> Here you can create a voting session virtually to Elect a representative for your community.</p>
        <p id="motto">Smooth and Hassle-free, Elegant as Ivory.</p>
        <p>Check on going votings on Events page.</p>
    </div>

{% endblock %}

{% block footer %}
    Made with ❤️ by Shamayel
{% endblock %}
